.object {
    opacity: 0;
}

.up {
    animation-name: showBoxUp;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    opacity: 0;
}

.down {
    animation-name: showBoxDown;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    opacity: 0;
}

.left {
    animation-name: showBoxLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    opacity: 0;
}

.right {
    animation-name: showBoxRight;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    opacity: 0;
}


@keyframes showBoxUp {
    from {
        opacity: 0;
        transform: translateY(10%);
    } 
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes showBoxDown {
    from {
        opacity: 0;
        transform: translateY(-10%);
    } 
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes showBoxLeft {
    from {
        opacity: 0;
        transform: translateX(-10%);
    } 
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes showBoxRight {
    from {
        opacity: 0;
        transform: translateX(10%);
    } 
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}